<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ba Do Ba La</title>
    <!--
        place favicon.ico in the root,
        some browser can find favicon.ico automatic in other pages, e.g. i don't add it in user.tpl,
        but access user page it has favicon.ico
    -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/common.css" />
    <script type="text/javascript" src="js/lib/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
    <div class="vertex">
        <div class="bvw">
            <ul class="list-inline pull-left">
                <li><a href="#"><span class="glyphicon glyphicon-star"></span><span>  Save Site</span></a></li>
            </ul>
            <ul class="list-inline pull-right">
                <li><a href="#" class="split-line">My Order</a></li>
                <li><a href="#" class="split-line"><span class="glyphicon glyphicon-phone"></span>Phone Site</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Customer Service
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="bvw">
            <div class="">hello</div>
            <div class=""></div>
        </div>
    </div>
</body>
</html>